<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8"/>
<title>Catastima</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" >
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #036f7b  !important;color: white !important;">
  <div class="container-fluid">
     <a class="navbar-brand" href="#">Catastima</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/authentification/newconnect}">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/user/newuser}">Create Account</a>
        </li>
       </ul>
     </div>
   </div>
 </nav>
 
<div class="container" align="center" style="height:400px;padding-bottom: 6px;background-image: url('https://cdn.pixabay.com/photo/2015/07/05/11/56/store-832188_960_720.jpg');" >
	<div class="row" style="background-color: #c72c48  !important;color: white !important;padding-top:2px;padding-bottom:2px;">
	   <h1> Create your catastima accout for promote your shop</h1>
	</div>
        <form action="#" th:action="@{/user/save}" method="post" style="background-color:rgba(210,230,230,0.8);padding-top:20px; padding-bottom:20px;margin-top: 25px;">
        	<div class="row">        	
	        	<div class="col-md-6">
	 				<table th:object="${authentification}">
		 			 	<tr>
		                    <td>Username:</td>
		                    <td><input type="text" required class="form-control" th:field="*{username}" /></td>
		                </tr>
		                <tr>
		                    <td>Password:</td>
		                    <td><input type="password" required class="form-control" th:field="*{password}" /></td>
		                </tr>
	 				</table>
	 			</div>
	 			<div class="col-md-6" th:object="${user}">
	 				<table th:object="${user}">
		                <tr>
		                    <td>Name:</td>
	                    	<td><input type="text" required id="user_name" class="form-control" th:field="*{user_name}" /></td>
	 					</tr>
		                <tr>
		 					<td>surname:</td>
		                    <td><input type="text" required id="user_surname" class="form-control" th:field="*{user_surname}" /></td>
		 				</tr>
	 				</table>
	                
	 			</div>
	 		</div>
	 		<div class="row">
	 			<div class="col-md-6">
	 				<table th:object="${user}">
	 					<tr>
		                    <td>.</td>
		                </tr>
		                <tr>
		                    <td>Adress:</td>
		                    <td><input type="text" required class="form-control" th:field="*{user_adress}" /></td>
		                </tr>
		                <tr>
		                    <td>postal code:</td>
		                    <td><input type="text" required class="form-control" th:field="*{user_cp}" /></td>
		                </tr>  
		                <tr>
		                    <td>city:</td>
		                    <td><input type="text" required class="form-control" th:field="*{user_city}" /></td>
		                </tr>
	            	</table>
	 			</div>
	 			<div class="col-md-6">
	 				<table th:object="${user}">
	 					<tr>
		                    <td>.</td>
		                </tr>
		                <tr>
		                    <td>Country:</td>
		                    <td><input type="text" required class="form-control" value="FRANCE" th:field="*{user_country}" /></td>
		                </tr> 
		                <tr>
		                    <td>.</td>
		                </tr>                  
		                <tr>
		                    <td colspan="2"><button type="submit" class="w-100 btn btn-danger" style="text-align:center;background-color: #c72c48" >Save</button> </td>
		                </tr>
	            	</table>
	 			</div>
        	
        	</div>
 			
            
        </form>
    </div>
        <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>
</html>