<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Catastima Intern | County Manager</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <div align="center">
        <h1>Edit Product</h1>
        <br />
     <form action="#" th:action="@{/product/editsave/{product_id}(product_id = ${product.product_id})}" th:object="${product}"
            method="post">
 
            <table border="0" cellpadding="10">
                <tr>             
                    <td>Product ID:</td>
                    <td>
                        <input type="text" class="form-control" th:field="*{product_id}" readonly="readonly" />
                    </td>
                </tr>        
                <tr>             
                    <td>Product Name:</td>
                    <td>
                        <input type="text" class="form-control" th:field="*{product_name}" />
                    </td>
                </tr>
                <tr>
                    <td>Quantity:</td>
                    <td><input type="text" class="form-control" th:field="*{product_quantity}" /></td>
                </tr>
                <tr>
                    <td>Category ID:</td>
                    <td><input type="text" class="form-control" th:field="*{category_id}" /></td>
                </tr>
                 <tr>
                    <td>Seller ID:</td>
                    <td><input type="text" class="form-control" th:field="*{seller_id}" /></td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="text" class="form-control" th:field="*{product_price}" /></td>
                </tr>                            
                <tr>
                    <td colspan="2"><button type="submit" class="btn btn-success">Save</button> </td>
                </tr>
            </table>
        </form>   
    </div>
</body>
</html>